<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>Routes:</h4>
    <ul>
      <li><a href='/categories'>/categories</a></li>
      <li><a href='/fileTypes'>/fileTypes</a></li>
      <li><a href='/users'>/users</a></li>
      <li><a href='/files'>/files</a></li>
    </ul>
  </body>
</html>
