<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h4>Public Routes:</h4>
    <ul>
      <li>/categories</li>
      <li>/fileTypes</li>
    </ul>
  </body>
</html>
